.idea/material_theme_project_new.xml
.DS_Store
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/nl-fine-tuning.iml
.idea/vcs.xml
